---
import BaseLayout from '../layouts/BaseLayout.astro'
import Skills from '../components/Skills.astro'
import Tittle from '../components/Tittle.astro'
import Experience from '../components/Experience.astro'
import Technologies from '../components/Technologies.astro'
import ProyectsOverview from '../components/ProyectsOverview.astro'
---

<BaseLayout>
  <div class='stack lg:gap-30 gap-20'>
    <Tittle />

    <main class='wrapper stack lg:gap-15 gap-10'>
      <Experience />

      <Technologies />

      <Skills />

      <ProyectsOverview />
    </main>
  </div>
</BaseLayout>
