---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import PortfolioPreview from '../components/PortfolioPreview.astro'
import Hero from '../components/Hero.astro'
import Grid from '../components/Grid.astro'

const projects = (await getCollection('work')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
)
---

<BaseLayout
  title='Proyectos | Rubén Feito'
  description='Proyectos destacados de Rubén Feito, desarrollador FullStack en Madrid.'
>
  <div class='stack gap-20'>
    <main class='wrapper stack gap-8'>
      <Hero
        title='Proyectos'
        tagline=' Aquí puedes ver algunos de los proyectos en los que he trabajado de forma profesional y son visibles públicamente o almenos una parte de ellos. Por motivos de confidencialidad, no todos los proyectos en los que he trabajado están aquí listados al igual que el codigo fuente de los mismos.'
        align='start'
      />
      <Grid variant='offset'>
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <!-- <ContactCTA /> -->
  </div>
</BaseLayout>
