<div class='tag text-base font-normal text-gray-500 dark:text-gray-400'>
  <slot />
</div>

<style>
  .tag {
    display: flex;
    padding: 0.25rem 0.75rem;
    padding-top: 0.3rem;
    gap: 0.5rem;
    color: var(--text-gray-500);
    border: 1px solid var(--gray-500);
    /* background-color: var(--accent-regular); */
    /* box-shadow: var(--shadow-md); */
    border-radius: 999rem;
    font-size: var(--text-sm);
    line-height: 1.25;
    white-space: nowrap;
  }
</style>
